<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>商品列表</title>
    <link rel="stylesheet" th:href="@{/css/commodityindex.css}">
    <script th:src="@{/js/jquery-3.5.1.min.js}"></script>
</head>
<body>
<div class="container">
    <div class="navigation_container">
        <div class="navigation_header_container">
            <div class="navigation_header">
                <div class="navigation_header_title">
                    婚&nbsp&nbsp庆
                </div>
            </div>
        </div>
        <div class="navigation_body_container">
            <div class="navigation_body">
                <ul>
                    <li class="navigation_body_nav"><a href="#idPlace" class="trans">婚庆场地</a></li>
                    <li class="navigation_body_nav"><a href="#idWeddingCar" class="trans">婚车</a></li>
                    <li class="navigation_body_nav"><a href="#idWeddingDress" class="trans">婚纱礼服</a></li>
                    <li class="navigation_body_nav"><a href="#idSalute" class="trans">礼炮</a></li>
                    <li class="navigation_body_nav"><a href="#idLighting" class="trans">舞台灯具</a></li>
                    <li class="navigation_totop"><a href="javascript:" id="totop">置顶</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container_main" >
        <div class="secondcategory_container">
            <div class="secondcategory_container_title" id="idPlace">
                婚庆场地
            </div>
            <div class="secondcategory_container_body">
                <table th:each="carGoods:${leaseGoods}">
                    <tr>
                        <div class="secondcategory_item"  th:if="${carGoods.goodsSecondKind} eq '婚庆场地'" >
                            <div class="secondcategory_item_main_container">
                                <div class="secondcategory_item_pic">
                                    <img th:src="@{${carGoods.goodsPicture}}">
                                </div>
                                <div class="secondcategory_item_text">
                                    <div class="secondcategory_item_name">
                                        <span>名称：</span>
                                        <span th:text="${carGoods.goodsName}">办公</span>
                                    </div>
                                    <div class="secondcategory_item_rent">
                                        <span>租金：</span>
                                        <span th:text="${carGoods.goodsPrice}">30</span>
                                        <span>/h</span>
                                    </div>
                                    <div class="secondcategory_item_cashleft">
                                        押金：
                                        <span th:text="${carGoods.deposit}">12</span>
                                    </div>
                                    <div class="secondcategory_item_typeright">
                                        状态：
                                        <span th:if="${carGoods.status} eq '0'">闲置中</span>
                                        <span th:if="${carGoods.status} eq '1'">出租中</span>
                                    </div>
                                </div>
                                <div class="secondcategory_item_footer">
                                    <ul>
                                        <li><a href="javascript:void(0);" th:onclick="goDetial([[${carGoods.goodsId}]]);">查看详情</a></li>
                                        <li><a href="javascript:">规格</a></li>
                                        <li><a href="javascript:">工具</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </tr>
                </table>
            </div>

        </div>
        <div class="secondcategory_container">
            <div class="secondcategory_container_title" id="idWeddingCar">
                婚车
            </div>
            <div class="secondcategory_container_body">
                <table th:each="carGoods:${leaseGoods}">
                    <tr>
                        <div class="secondcategory_item"  th:if="${carGoods.goodsSecondKind} eq '婚车'" >
                            <div class="secondcategory_item_main_container">
                                <div class="secondcategory_item_pic">
                                    <img th:src="@{${carGoods.goodsPicture}}">
                                </div>
                                <div class="secondcategory_item_text">
                                    <div class="secondcategory_item_name">
                                        <span>名称：</span>
                                        <span th:text="${carGoods.goodsName}">办公</span>
                                    </div>
                                    <div class="secondcategory_item_rent">
                                        <span>租金：</span>
                                        <span th:text="${carGoods.goodsPrice}">30</span>
                                        <span>/h</span>
                                    </div>
                                    <div class="secondcategory_item_cashleft">
                                        押金：
                                        <span th:text="${carGoods.deposit}">12</span>
                                    </div>
                                    <div class="secondcategory_item_typeright">
                                        状态：
                                        <span th:if="${carGoods.status} eq '0'">闲置中</span>
                                        <span th:if="${carGoods.status} eq '1'">出租中</span>
                                    </div>
                                </div>
                                <div class="secondcategory_item_footer">
                                    <ul>
                                        <li><a href="javascript:void(0);" th:onclick="goDetial([[${carGoods.goodsId}]]);">查看详情</a></li>
                                        <li><a href="javascript:">规格</a></li>
                                        <li><a href="javascript:">工具</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </tr>
                </table>
            </div>
        </div>
        <div class="secondcategory_container">
            <div class="secondcategory_container_title" id="idWeddingDress">
                婚纱礼服
            </div>
            <div class="secondcategory_container_body">
                <table th:each="carGoods:${leaseGoods}">
                    <tr>
                        <div class="secondcategory_item"  th:if="${carGoods.goodsSecondKind} eq '婚纱礼服'" >
                            <div class="secondcategory_item_main_container">
                                <div class="secondcategory_item_pic">
                                    <img th:src="@{${carGoods.goodsPicture}}">
                                </div>
                                <div class="secondcategory_item_text">
                                    <div class="secondcategory_item_name">
                                        <span>名称：</span>
                                        <span th:text="${carGoods.goodsName}">办公</span>
                                    </div>
                                    <div class="secondcategory_item_rent">
                                        <span>租金：</span>
                                        <span th:text="${carGoods.goodsPrice}">30</span>
                                        <span>/h</span>
                                    </div>
                                    <div class="secondcategory_item_cashleft">
                                        押金：
                                        <span th:text="${carGoods.deposit}">12</span>
                                    </div>
                                    <div class="secondcategory_item_typeright">
                                        状态：
                                        <span th:if="${carGoods.status} eq '0'">闲置中</span>
                                        <span th:if="${carGoods.status} eq '1'">出租中</span>
                                    </div>
                                </div>
                                <div class="secondcategory_item_footer">
                                    <ul>
                                        <li><a href="javascript:void(0);" th:onclick="goDetial([[${carGoods.goodsId}]]);">查看详情</a></li>
                                        <li><a href="javascript:">规格</a></li>
                                        <li><a href="javascript:">工具</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </tr>
                </table>
            </div>
        </div>
        <div class="secondcategory_container">
            <div class="secondcategory_container_title" id="idSalute">
                礼炮
            </div>
            <div class="secondcategory_container_body">
                <table th:each="carGoods:${leaseGoods}">
                    <tr>
                        <div class="secondcategory_item"  th:if="${carGoods.goodsSecondKind} eq '礼炮'" >
                            <div class="secondcategory_item_main_container">
                                <div class="secondcategory_item_pic">
                                    <img th:src="@{${carGoods.goodsPicture}}">
                                </div>
                                <div class="secondcategory_item_text">
                                    <div class="secondcategory_item_name">
                                        <span>名称：</span>
                                        <span th:text="${carGoods.goodsName}">办公</span>
                                    </div>
                                    <div class="secondcategory_item_rent">
                                        <span>租金：</span>
                                        <span th:text="${carGoods.goodsPrice}">30</span>
                                        <span>/h</span>
                                    </div>
                                    <div class="secondcategory_item_cashleft">
                                        押金：
                                        <span th:text="${carGoods.deposit}">12</span>
                                    </div>
                                    <div class="secondcategory_item_typeright">
                                        状态：
                                        <span th:if="${carGoods.status} eq '0'">闲置中</span>
                                        <span th:if="${carGoods.status} eq '1'">出租中</span>
                                    </div>
                                </div>
                                <div class="secondcategory_item_footer">
                                    <ul>
                                        <li><a href="javascript:void(0);" th:onclick="goDetial([[${carGoods.goodsId}]]);">查看详情</a></li>
                                        <li><a href="javascript:">规格</a></li>
                                        <li><a href="javascript:">工具</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </tr>
                </table>
            </div>
        </div>
        <div class="secondcategory_container">
            <div class="secondcategory_container_title" id="idLighting">
                舞台灯具
            </div>
            <div class="secondcategory_container_body">
                <table th:each="carGoods:${leaseGoods}">
                    <tr>
                        <div class="secondcategory_item"  th:if="${carGoods.goodsSecondKind} eq '舞台灯具'" >
                            <div class="secondcategory_item_main_container">
                                <div class="secondcategory_item_pic">
                                    <img th:src="@{${carGoods.goodsPicture}}">
                                </div>
                                <div class="secondcategory_item_text">
                                    <div class="secondcategory_item_name">
                                        <span>名称：</span>
                                        <span th:text="${carGoods.goodsName}">办公</span>
                                    </div>
                                    <div class="secondcategory_item_rent">
                                        <span>租金：</span>
                                        <span th:text="${carGoods.goodsPrice}">30</span>
                                        <span>/h</span>
                                    </div>
                                    <div class="secondcategory_item_cashleft">
                                        押金：
                                        <span th:text="${carGoods.deposit}">12</span>
                                    </div>
                                    <div class="secondcategory_item_typeright">
                                        状态：
                                        <span th:if="${carGoods.status} eq '0'">闲置中</span>
                                        <span th:if="${carGoods.status} eq '1'">出租中</span>
                                    </div>
                                </div>
                                <div class="secondcategory_item_footer">
                                    <ul>
                                        <li><a href="javascript:void(0);" th:onclick="goDetial([[${carGoods.goodsId}]]);">查看详情</a></li>
                                        <li><a href="javascript:">规格</a></li>
                                        <li><a href="javascript:">工具</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<!--<iframe th:src="@{../eBao/index/footer.html}" id="ideaForm" width="100%" height="100%" style="height: 300px;display: block" frameborder="0" scrolling="no" name="headFrame"></iframe>-->

<script>
    $(function(){
        //获取要定位元素距离浏览器顶部的距离
        var navH = $(".navigation_body_container").offset().top;
        // console.log(navH);
        //滚动条事件
        $(window).scroll(function(){
            //获取滚动条的滑动距离
            var scroH = $(this).scrollTop();
            // console.log(scroH);
            //滚动条的滑动距离大于等于定位元素距离浏览器顶部的距离，就固定，反之就不固定
            if(scroH>=navH){
                $(".navigation_body_container").css({"position":"fixed","top":0});
                $(".navigation_totop").css({"display":"inline"});
            }else if(scroH<navH){
                $(".navigation_body_container").css({"position":"static"});
                $(".navigation_totop").css({"display":"none"});
            }
        })
    });
</script>
<script>
    $(function(){
        $('.trans').click(function(){
            //根据a标签的href转换为id选择器，获取id元素所处的位置，并高度减50px（这里根据需要自由设置）
            $('html,body').animate({scrollTop: ($($(this).attr('href')).offset().top -90 )},900);
        });
        $('#totop').click(function(){
            //根据a标签的href转换为id选择器，获取id元素所处的位置，并高度减50px（这里根据需要自由设置）
            $('html,body').animate({scrollTop: 0},900);
        });
    });
</script>
<script>
    function goDetial(goodsId){
        location.href = "../eBao/goDetials?goodsId="+ goodsId;
    }
</script>
</body>
</html>