*{
    margin: 0;
    padding: 0;
}

iframe{
    z-index: -1;
}

table{
    border-spacing: 0;
}

.container{
    width: 100%;
    height: 100%;
    float: left;
    padding-bottom: 160px;
}

.navigation_container{
    width: 100%;
    height: 200px;
}
.navigation_header_container{
    width: 100%;
    height: 140px;
    background-color: rgb(246,246,246);
}
.navigation_header{
    margin: 0 auto;
    width: 1200px;
    height: 140px;
    line-height: 140px;
    position: relative;
}
.navigation_header_title{
    margin: 0 auto;
    height: 140px;
    line-height: 140px;
    font-size: 30px;
    font-family: 华文仿宋 ;
    color: rgb(102,102,102);
    /*font-weight: 600;*/
    text-align: center;
    width: 240px;
}
.navigation_header_title:before{
    content: "";
    width: 480px;
    height: 1px;
    background-color: #e1e1e1;
    position: absolute;
    top: 69px;
    left: 0;
}
.navigation_header_title:after{
    content: "";
    width: 480px;
    height: 1px;
    background-color: #e1e1e1;
    position: absolute;
    top: 69px;
    right: 0;
}

.navigation_body_container{
    width: 100%;
    height: 60px;
    background-color: rgb(246,246,246);
/*    position: absolute;
    top: 160px;*/
    z-index: 10;
}
.navigation_body{
    margin: 0 auto;
    width: 1200px;
    height: 60px;
}
.navigation_body ul{
    width: 1200px;
    height: 60px;
    /*line-height: 60px;*/
    list-style: none;
}
.navigation_body_nav{
    text-align: center;
    width: 150px;
    height: 57px;
/*    color: rgb(102,102,102);
    font-family: 黑体;*/
    /*font-weight: bold;*/
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
/*    font-size: 18px;
    line-height: 54px;*/
    border-bottom: 3px solid transparent;
    cursor: pointer;
    float: left;
}
.navigation_totop{
    display: none;
    text-align: center;
    width: 150px;
    height: 57px;
    /*    color: rgb(102,102,102);
        font-family: 黑体;*/
    /*font-weight: bold;*/
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    /*    font-size: 18px;
        line-height: 54px;*/
    border-bottom: 3px solid transparent;
    cursor: pointer;
    float: right;
}
.navigation_body a{
    text-decoration: none;
    width: 150px;
    height: 57px;
    color: rgb(102,102,102);
    font-family: 黑体;
    font-size: 18px;
    line-height: 54px;
    display: block;
}
.navigation_body li:hover{
    border-bottom: solid rgb(0,173,239);
    color: rgb(0,173,239);
}
.navigation_body li:hover a{
    color: rgb(0,173,239);
}

.container_main{
    margin: 0 auto;
    width: 1200px;
}

.secondcategory_container{
    width: 100%;
    float: left;
}

.secondcategory_container_title{
    margin-top: 50px;
    width: 100%;
    font-size: 20px;
    font-family: 黑体;
    font-weight: 600;
    color: #000000;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 3px solid rgb(225,225,225);
}

.secondcategory_container_body{
    width: 100%;
    /*display: flex;*/
    float: left;
}
.secondcategory_item{
    margin: 20px;
    width: 260px;
    height: 280px;
    /*background-color: #ffc001;*/
    position: relative;
    float: left;
    cursor: pointer;
}

.secondcategory_item_main_container{
    padding: 15px 15px 5px 15px;
    width: 230px;
    background-color: #FFFFFF;
}
.secondcategory_item_pic{
    width: 100%;
    height: 150px;
    /*background-color: #9F9F9F;*/
    overflow: hidden;
    text-align: center;
    position: relative;
}
.secondcategory_item_pic img{
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -webkit-user-drag: none;
}

.secondcategory_item_text{
    width: 100%;
    height: 100px;
    overflow: hidden;
    margin-bottom: 10px;
    /*background-color: #00F7DE;*/
}
.secondcategory_item_name{
    width: 210px;
    height: 28px;
    margin: 10px ;
    text-align: center;
    overflow: hidden;
}
.secondcategory_item_name span{
    /*font-family: 黑体;*/
    font-size: 18px;
    font-weight: 600;
}
.secondcategory_item_rent{
    width: 210px;
    margin: 0 10px 0 10px;
    text-align: center;
    overflow: hidden;
}
.secondcategory_item_rent span{
    font-family: 黑体;
    font-size: 18px;
}
.secondcategory_item_cashleft{
    text-align: left;
    font-family: 宋体;
    width: 105px;
    margin: 5px 0 0 10px;
    float: left;
}
.secondcategory_item_typeright{
    text-align: right;
    font-family: 宋体;
    width: 105px;
    margin: 5px 10px 0 0;
    float: left;
}
.secondcategory_item_footer{
    width: 100%;
    height: 0;
    /*transition: height 0.2s;*/
    /*background-color: yellow;*/
    overflow: hidden;
}
.secondcategory_item:hover {
    z-index: 1;
}
.secondcategory_item:hover .secondcategory_item_main_container{
    box-shadow: 2px 2px 10px rgb(225,225,225);
}
.secondcategory_item_main_container:hover .secondcategory_item_footer{
    height: 135px;
    transition: height 0.2s;
}

.secondcategory_item_footer li{
    list-style: none;
    width: 230px;
    height: 45px;
    border-bottom: 1px solid rgb(0,173,239);
}
.secondcategory_item_footer li:hover{
    background-color: rgb(0,173,239);
}
.secondcategory_item_footer li:hover a{
    color: #FFFFFF;
}
.secondcategory_item_footer a{
    text-decoration: none;
/*    width: 150px;
    height: 54px;*/
    padding-left: 15px;
    color: rgb(102,102,102);
    line-height: 45px;
    font-family: 黑体;
    font-size: 16px;
    display: block;
}