<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/userorder.css}">
</head>
<body>
    <div class="container">
        <div class="container_main">
            <div class="ordercontainer">
                <div class="ordercontainer_left">
                    <div class="ordercontainer_idcon">
                        订单编号：
                        <span th:text="${leaseInfo.leaseId}">
                            OR1234567890
                        </span>
                    </div>
                    <div class="ordercontainer_namecon">
                        商品名称：
                        <span th:text="${leaseDetails.goodsName}">
                            奔驰
                        </span>
                    </div>
                    <div class="ordercontainer_pricecon">
                        商品租价：
                        <span th:text="${leaseDetails.goodsPrice}">
                            ￥25
                        </span>
                        元/小时
                    </div>
                    <div class="ordercontainer_depositcon">
                        商品押金：
                        <span th:text="${leaseDetails.deposit}">
                            ￥5000
                        </span>元
                    </div>
                    <div class="ordercontainer_depositcon">
                        押金缴纳：
                        <span>
                            未缴纳
                        </span>
                    </div>
                </div>
                <div class="ordercontainer_right">
                    <div class="ordercontainer_borrowdatecon">
                        租赁时间：
                        <span>
                            2020-11-19 16:05
                        </span>
                    </div>
                    <div class="ordercontainer_rocon">
                        归还时间：
                        <span>
                            未归还
                        </span>
                    </div>
                    <div class="ordercontainer_btncon">
                        <div class="btn_pay">
                            物品归还
                        </div>
                        <div class="btn_pay" th:onclick="gopay([[${leaseInfo.leaseId}]],[[${leaseDetails.deposit}]])">
                            押金缴纳
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script>
   function gopay(leaseId,deposit){
       location.href="../eBao/alipayTradePagePay?orderId="+ leaseId+"&orderAmount="+deposit;
   }
</script>
</body>
</html>